.signup {
  width: 400px;
  background-color: rgb(121, 121, 207);
  display: flex;
  flex-direction: column;

  margin: 100px auto;
  background-color: #d8a38d;
  justify-content: center;
  align-items: center;
  & input {
    padding: 10px;
    margin: 10px auto;
  }
}
